---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About Me">
  <div class="flex flex-col gap-2">
    <p></p>
    <p class="text-sm font-light">
      I'm a passionate software developer with a strong interest in artificial intelligence and web technologies. I enjoy building innovative solutions that enhance user experiences and streamline processes.
    </p>
    <p></p>
    <p class="text-sm font-light">
      In my free time, I love exploring new places, immersing myself in different cultures, and capturing moments through photography. I'm also an avid reader and enjoy staying updated on the latest tech trends.
    </p>
    <p></p>
    <p class="text-sm font-light">
      My approach to development is driven by curiosity and a commitment to lifelong learning. I'm always eager to tackle new challenges and collaborate with others to create impactful projects.
    </p>
  </div>
</Card>
